<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Add task</title>
    <link rel="stylesheet" type="text/css" href="{% static 'addTaskPageStyle.css' %}">
</head>
<body>
    <header>
        <h1>            
            {{month}} / {{day}} / {{year}}
        </h1>
    </header>
    <main>
        <section id="left">
            <a href="{% url 'main_page' next_months=0 month=month year=year %}" class="leftButtons">Main page</a>
            <a href="{% url 'user_tasks_page' month=month year=year filter='default' %}" class="leftButtons">My tasks</a>
            <a href="{% url 'sign_out' %}" class="leftButtons">Sign out</a>
        </section>
        <section id="right">
            <form method="post" action="{% url 'new_task' mainPageMonth=month mainPageDay=day mainPageYear=year %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="addTaskButton">Save</button>
            </form>
        </section>
    </main>
</body>
</html>