<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>{{month}} / {{day}} / {{year}}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dayTasksPageStyle.css' %}">
</head>
<body>
    <header>
        <h1>            
            {{month}} / {{day}} / {{year}}
        </h1>
        <a href="{% url 'add_task_page' month=month day=day year=year %}">Add task</a>
    </header>
    <main>
        <section id="left">
            <a href="{% url 'main_page' next_months=0 month=month year=year %}" class="leftButtons">Main page</a>
            <a href="{% url 'user_tasks_page' month=month year=year filter='default' %}" class="leftButtons">My tasks</a>
            <a href="{% url 'sign_out' %}" class="leftButtons">Sign out</a>
        </section>
        <section id="right">
            {% for task in tasks %}
                    <a href="{% url 'task_page_with_day' mainPageMonth=month mainPageYear=year taskId=task.id mainPageDay=day %}"><div class="task">{{task.title}}</div></a>
            {% endfor %}


       
        </section>
    </main>
</body>
</html>