<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainPageStyle.css' %}">
</head>
<body>
    <header>
            <a href="{% url 'main_page' next_months=-1 month=month year=year %}"><div class="backOrNextButton"><</div></a>
            <a href="{% url 'main_page' next_months=1 month=month year=year %}"><div class="backOrNextButton">></div></a>
        <p class="monthAndYearName">
            {{month}} / {{year}}
        </p>
    </header>
    <main>
        <section id="left">
            <a href="{% url 'main_page' next_months=0 month=month year=year %}" class="leftButtons">Main page</a>
            <a href="youtube.com" class="leftButtons">My tasks</a>
            <a href="{% url 'sign_out' %}" class="leftButtons">Sign out</a>
        </section>
        <section id="right">
            {% for week in date %}
                {% for day in week %}
                    {% with  month=day.1 day=day.0 year=day.2 %}
                        <a href="{% url 'add_task_page' month=month day=day year=year %}"><div class="day">{{day}}</div></a>
                    {% endwith %}
                {% endfor %}
            {% endfor %}
        </section>
    </main>
</body>
</html>