body
{
    display: grid;
    grid-template-rows: 10% 90%;
    height: 900px;
    background-color: black;
    color: white;
}

body a
{
    text-decoration: none;
    cursor: pointer;
}

header
{
    grid-row: 1;
    text-align: center;
    font-size: 150%;
}

main
{
    grid-row: 2;
    display: grid;
    grid-template-columns: 5% 95%;
}

#left
{
    grid-column: 1;
}

#right
{
    grid-column: 2;
}

.leftButtons
{
    display: block;
    margin-top: 35%;
    margin-left: 5%;
    font-weight: 900;
    font-size: 90%;
    color: rgb(207, 207, 207);
    text-decoration: none;
    position: relative;
    top: 18%;
}

.leftButtons:hover
{
    color: #4cb03f;
}

.addTaskButton
{
    display: block;
    width: 12%;
    height: 55px;
    background-color: #4cb03f;
    border-radius: 20px;
    font-weight: 900;
    font-size: 150%;
    color: #efefef;
    border: 1px solid white;
    text-align: center;
    margin-left: 47%;
}

.addTaskButton:hover
{
    background-color: #a9ff9d;
    color: #484848;
}

body input
{
    width: 20%;
    height: 50px;
    border-radius: 20px;
    font-size: 125%;
    background-color: #a4a4a4;
    color: white;
}

body input:hover
{
    background-color:  #c8c8c8;
}

body input:focus
{
    background-color:  #c8c8c8;
}

form
{
    display: flexbox; 
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin-right: 10%;
    margin-top: 7.5%;
}



form p
{
    font-size: 200%;
}