body
{
    display: grid;
    grid-template-rows: 10% 90%;
    height: 900px;
    background-color: black;
    color: white;
}

body a
{
    text-decoration: none;
}

header
{
    grid-row: 1;
    text-align: center;
    font-size: 125%;
}

header a
{
    color: #4cb03f;
    font-size: 100%;
}

header a:hover
{
    color: #cdffc6;
}

main
{
    grid-row: 2;
    display: grid;
    grid-template-columns: 5% 95%;
}

#left
{
    grid-column: 1;
}

#right
{
    grid-column: 2;
}

.leftButtons
{
    display: block;
    margin-top: 35%;
    margin-left: 5%;
    font-weight: 900;
    font-size: 90%;
    color: rgb(207, 207, 207);
    text-decoration: none;
    position: relative;
    top: 18%;
}

.leftButtons:hover
{
    color: #4cb03f;
}

.container
{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 12.5%;
    width: 20%;
    gap: 25%;
    margin-left: 34.5%;
    margin-top: 13%;
}

.buttonClass
{
    display: block;
    border-radius: 20px;
    font-weight: 900;
    font-size: 150%;
    color: #efefef;
    border: 1px solid white;
    text-decoration: none;
    text-align: center;
}

#leftButton
{
    grid-column: 1;
    background-color: #4cb03f;
}

#leftButton:hover
{
    background-color: #a9ff9d;
    color: #484848;
}

#rightButton
{
    grid-column: 2;
    background-color: #696969;
}

#rightButton:hover
{
    background-color: #c2c2c2;
    color: #484848;
}